ion-content {
    .privacy-policy {
        padding: 20px;
        .title {
            margin: 0px;
            margin-bottom: 10px;
            color: #517a9f;
        }
        p {
            font-size: 17px;
            text-align: justify;
        }
    }
}