<div class="login" *ngIf="!user">
  <app-login-core [path]="'profile'"></app-login-core>
</div>

<ion-header *ngIf="user">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="user">
  <ion-list>
    <ion-list-header>
      <ion-avatar item-start>
        <img src="{{ user.photoURL }}">
      </ion-avatar>
      <p class="username">{{ user.displayName | titlecase }}</p>
      <img class="edit" src="/assets/icon/edit.svg" (click)="editProfile()">
    </ion-list-header>
  </ion-list>
  <hr style="margin-top: 5px;">
  <ion-title>Settings</ion-title>
  <ion-list no-border>
    <ion-list-header>
      General
    </ion-list-header>
    <ion-item>
      <ion-icon name='notifications' item-start></ion-icon>
      <ion-label class="label"> Enable notifications </ion-label>
      <ion-toggle [(ngModel)]="enableNotifications" (click)="toggleNotifications()"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name='help-buoy' item-start></ion-icon>
      <ion-label class="label"> 24x7 Help </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Other</ion-list-header>
    <ion-item (click)="logOut()" lines="none">
      <ion-icon name='power' item-start></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>