<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about">
    <h4 class="title">About Us</h4>
    <p class="welcome">Welcome to <a href="http://thanksmummy.com">ThanksMummy.com</a>!</p>
    <p>
      ThanksMummy helps Parents to raised happy, healthy kids and upload their story.
      ThanksMummy is just the right place to get all your Motherhood queries sorted. Quoting Jessica Lange, “The natural
      state of motherhood is unselfishness. When you become a mother, you are no longer the centre of your own universe.
      You relinquish that position to your children.”
    </p>
    <p>
      Every Mother has a different story to tell and every story has something to preach.
      ThanksMummy provides a unique platform for all the Mothers to come together and share their most intriguing
      Motherhood experiences.
    </p>
    <p>
      We also have special segments for the newly born health care wherein the experts give special tips to help your
      baby
      flourish.
    </p>
    <p>
      ThanksMummy is a community of Mothers, by Mothers and for Mothers.
    </p>
    <p>
      So if you have an exciting story to tell, ThanksMummy is just the right place!
    </p>
    <ul>
      <li>New Born Baby Food</li>
      <li>New Born Health Care</li>
      <li>New Born Hints & Tips</li>
      <li>Pregnancy Tips</li>
    </ul>
  </div>
</ion-content>